* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: #111;
    color: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-links a:hover {
    color: #00adb5;
}


.intro {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #00000a, #000630);
    color: white;
    padding: 20px;
}


.intro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    max-width: 1000px;
    width: 100%;
}


.intro-content {
    max-width: 500px;
}


.intro h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.intro span {
    color: #00adb5;
}


.intro p {
    font-size: 18px;
    line-height: 1.6;
}


.intro-image img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #00adb5;
}

.about {
    padding: 40px 20px;
    background: #000b3d;
    text-align: center;
}


.about-container {
    max-width: 1200px;
    margin: auto;
    line-height: 1.9;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ffffff;
}

.about p {
    font-size: 18px;
    line-height: 1.7;
    color: #ffffff;
    text-align: left;
    padding-left: 1%;
}

.skills {
    padding: 80px 20px;
    background: white;
    text-align: center;
}

.skills h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.skills-container {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 25px;
}



.skill-card {
    background: #111;
    color: white;
    padding: 20px;
    border-radius: 8px;
    font-size: 18px;

}

.skill-card:hover {
    background: #00adb5;
}

.contact {
    padding: 80px 20px;
    background: #f5f5f5;
    text-align: center;
}

.contact h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.contact-container {
    max-width: 600px;
    margin: auto;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.contact input,
.contact textarea {
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
}


.projects {
    padding: 80px 20px;
    background: white;
    text-align: center;
}

.projects h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.projects-container {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}



.project-card {
    background: #111;
    color: white;
    padding: 25px;
    border-radius: 8px;
    transition: 0.3s;
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card p {
    font-size: 15px;
    line-height: 1.6;
}

.project-card:hover {
    background: #00adb5;

}



.footer{
    text-align: center;
    background-color: #000b3d;
}

.social-icons {
    margin-bottom: 6px;
    align-content: center;
}

.social-icons a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 0 12px;
    transition: 0.3s;
}


.social-icons a:hover {
    color: #00adb5;
}

.paragraph{
    color: #ccc;
}